*{
  padding: 0;
  margin: 0;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dfb88e;
}
.book{
  width: 300px;
  height: 300px;
  background-color: #fff;
  transform-style: preserve-3d;
  perspective: 2000px;
  box-shadow: inset 300px 0 30px rgba(0,0,0,.2),
  0 10px 100px rgba(0,0,0,.3)
  ;
  transition: 1s;
}
.book:hover{
  transform: rotate(-10deg);
  box-shadow: inset 20px 0 30px rgba(0,0,0,rgba(0,0,0,.2))
  0 10px 100px rgba(0,0,0,.3)
  ;
}
.book::before{
  content:'';
  position: absolute;
  left: 0;
  top: -5px;
  width: 100%;
  height: 5px;
  background-color: #0d2a50;
  transform-origin: bottom;
  transform: skewX(-45deg);
}
.book::after{
  content:'';
  position: absolute;
  left: 0;
  top: -5px;
  width: 5px;
  height: 100%;
  background-color: #0d2a50;
  transform-origin: left;
  transform: skewY(-45deg);
}
.book .cover{
  width: 100%;
  height: 100%;
  background-color: #2a3f5c;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform-origin: left;
  transition: 1s;
}
.book .cover span{
  position: absolute;
  right: 30px;
  top: 30px;
  background-color: #fff;
  font-size: 40px;
  font-family: '隶书';
  writing-mode: vertical-lr;
  padding: 10px 5px 5px 5px;
  letter-spacing: 5px;
}
.book:hover .cover{
  transform: rotateY(-135deg);
}
.book .content{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  font-size: 40px;
}
