*{
  padding: 0;
  margin: 0;
}
body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}
.contaniner{
  width: 100%;
  max-width: 1200px;
  display: flex;
}
.card{
  position: relative;
  flex: 1;
  height: 460px;
  border: 1px solid red;
  margin: 0 20px;
  perspective: 100px;
}
.card::before{
  content: '';
  width: 90%;
  height: 90%;
  background-color: rgba(0, 0,0,.5);
  position: absolute;
  z-index: 99;
  left: 5%;
  top: 5%;
  box-shadow: 0 6px 12px 12px rgba(0,0,0,.4);
  opacity: 1;
  transform-origin: top center;
  transition: .3s ease-in-out;

}
.card:hover::before{
  opacity: .6s;
  transform: rotateX(7deg) translateY(-6px) scale(1.05);
}
.card-cover{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transform-origin: top center;
  transition: transform .35s ease-in-out;
}
.card-cover::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 120%;
border: 1px solid red;
background-image: linear-gradient(226deg,rgba(255,255,255,0) 40%,rgba(255,255,255,.3) 50%,rgba(255,255,255,0) 60%);
transform: translateY(-100%);
transition: transform .85s cubic-bezier(.165,.84,.44,1);
}
.card:hover .card-cover{
  transform: rotate(7deg) translateY(-6px);
}
.card:hover ,.card-cover::after{
  transform: translateY(100%);
}