body {
  margin: 0;
}

ul, li {
  list-style: none;
  padding: 0;
}

#tab_wrap {
  max-width: 400px;
  margin: 10px auto;
  background: #efefef;
}

#tab_wrap .tab_options {
  height: 40px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
}
#tab_wrap .tab_options li {
  line-height: 40px;
  cursor: pointer;
}
#tab_wrap .tab_options li.active {
  color: red;
  border-bottom: 1px solid red;
}

#tab_wrap .tab_content {
  min-height: 400px;
  position: relative;
}

#tab_wrap .tab_content .item_box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: none;
  text-align: center;
}
#tab_wrap .tab_content .item_box.active {
  display: block;
}